name: Run CI

on:
  push:
    branches: 
      - master
    tags: 
      - v*
  pull_request:
    branches: 
      - "*"

jobs:
  all:
    name: "Run CI"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 24.x]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --frozen-lockfile
      - run: yarn run test
